<form class="form-horizontal" #form="ngForm" (ngSubmit)="submitted=true;register(form)">
  <div class="row">
      <div class="col-sm-3">
          <div class="form-group">
            <!-- <input type="text" [(ngModel)]="customer.profile" name="profile" id="input-profile"> -->
            <input style="display: none" type="file" name="file" #fileInput [(ngModel)]="customer.profileImage" accept="image/*"
              (change)="fileProgress(fileInput.files)"> <!-- (change)="onFileChanged($event)" -->
            <a (click)="fileInput.click()">
              <img [src]="imgUrl" style="height: 150px;" nbTooltip="Upload Profile Photo" nbTooltipPlacement="top" nbTooltipStatus="success" />
            </a>        
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-firstname">First Name</label>
                    <!-- <pre>{{firstname.errors?.invalid}}</pre> -->
                    <span class="text-danger" *ngIf="firstname.invalid && submitted && firstname.errors.required"> * required</span>
                    <span class="text-danger" *ngIf="firstname.touched && firstname.errors?.pattern"> * allows (a-z) only</span>
                    <input type="text" [pattern]="alphaonly" onkeyup="this.value = this.value.toUpperCase();" [(ngModel)]="customer.firstname" #firstname="ngModel" name="firstname" class="form-control"
                      id="input-firstname" placeholder="First Name" required maxlength="15">           
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-middlename">Middle Name</label>
                    <span class="text-danger" *ngIf="middlename.invalid && submitted && middlename.errors.required"> * required</span>
                    <span class="text-danger" *ngIf="middlename.touched && middlename.errors?.pattern"> * allows (a-z) only</span>
                    <input type="text" [pattern]="alphaonly" [(ngModel)]="customer.middlename" name="middlename" class="form-control"
                    onkeyup="this.value = this.value.toUpperCase();" #middlename="ngModel" placeholder="Middle Name" required maxlength="15">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-lastname">Last Name</label>
                    <span class="text-danger" *ngIf="lastname.invalid && submitted && lastname.errors.required"> * required</span>
                    <span class="text-danger" *ngIf="lastname.touched && lastname.errors?.pattern"> * allows (a-z) only</span>
                    <input type="text" [pattern]="alphaonly" [(ngModel)]="customer.lastname" name="lastname" class="form-control"
                    onkeyup="this.value = this.value.toUpperCase();" #lastname="ngModel" placeholder="Last Name" required maxlength="15">
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-UID">UID</label>
                    <span class="text-danger" *ngIf="uid.invalid && submitted && uid.errors.required"> * required</span>
                    <span class="text-danger" *ngIf="uid.errors?.uniqueUid"> * already in use</span>    
                    <input type="text" [(ngModel)]="customer.uid" #uid="ngModel" name="UID" class="form-control" id="input-UID"
                      placeholder="Unique Identity No." required maxlength="15" onkeyup="this.value = this.value.toUpperCase();"
                      [uniqueUid]="customer.userID">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-birthdate">Birthdate</label>
                    <span class="text-danger" *ngIf="Birthdate.invalid && submitted && Birthdate.errors.required"> * required</span>
                    <input id="input-initialdate" nbInput class="form-control" placeholder="Birthdate" name="Birthdate"
                      [(ngModel)]="customer.dob" #Birthdate="ngModel" [nbDatepicker]="formpicker" readonly required>
                    <nb-datepicker #formpicker [max]="max"></nb-datepicker>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="input-amount">Gender</label>
                    <span class="text-danger" *ngIf="gender.invalid && submitted && gender.errors.required"> * required</span>
                    <div class="demo-radio">
                      <nb-radio-group [(ngModel)]="customer.gender" #gender="ngModel" name="gender" required>
                        <nb-radio style="display: inline-block;" [value]="'Male'">Male</nb-radio>
                        <nb-radio style="display: inline-block;" [value]="'Female'">Female</nb-radio>
                      </nb-radio-group>
                    </div>
                  </div>
                </div>
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-email">Email</label>
        <span class="text-danger" *ngIf="email.invalid && submitted && email.errors.required"> * required</span>
        <span class="text-danger" *ngIf="email.errors?.uniqueEmail"> * already in use</span>        
        <span class="text-danger" *ngIf="email.errors?.email"> * invalid email</span>
        <input type="email" [(ngModel)]="customer.emailId" #email="ngModel" name="email" class="form-control" id="input-email"
        onkeyup="this.value = this.value.toUpperCase();" placeholder="Email" email required [uniqueEmail]="customer.userID" maxlength="50">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-contact">Contact No.</label>
        <span class="text-danger" *ngIf="mobile.invalid && submitted && mobile.errors.required"> * required</span>
        <span class="text-danger" *ngIf="mobile.touched && mobile.errors?.pattern"> * allows (0-9) only</span>
        <input type="text" [pattern]="numonly" [(ngModel)]="customer.mobile" name="contact" #mobile="ngModel" class="form-control" id="input-contact"
          placeholder="Contact" required maxlength="15">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-altcontact">Alternate Contact No.</label>
        <span class="text-danger" *ngIf="phone.touched && phone.errors?.pattern"> * allows (0-9) only</span>
        <!-- <span class="text-danger" *ngIf="phone.invalid && submitted && phone.errors.required"> * required</span> -->
        <input type="text" [pattern]="numonly" [(ngModel)]="customer.phone" name="altcontact" #phone="ngModel" class="form-control" id="input-altcontact"
          placeholder="Alternate Contact" maxlength="15">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-state">State</label>
        <span class="text-danger" *ngIf="stateId.invalid && submitted && stateId.errors.required"> * required</span>
        <!-- <ngx-select-dropdown tabindex="0" name="stateId" [multiple]="false" [(ngModel)]="customer.stateId" [config]="config"
                  [options]="state"></ngx-select-dropdown> -->
        <select class="form-control" [(ngModel)]="customer.stateId" #stateId="ngModel" name="stateId" required
          (change)="onStateSelect(customer.stateId)">
          <option value="">--- Select State ---</option>
          <option *ngFor="let s of state" value="{{s.id}}">{{s.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-state">City</label>
        <span class="text-danger" *ngIf="cityId.invalid && submitted && cityId.errors.required"> * required</span>
        <select class="form-control" [(ngModel)]="customer.cityId" #cityId="ngModel" name="cityId"
          (change)="onCitySelect(customer.cityId)" required>
          <option value="">--- Select City ---</option>
          <option *ngFor="let c of city" value="{{c.id}}">{{c.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-state">Pincode</label>
        <span class="text-danger" *ngIf="zipcode.invalid && submitted && zipcode.errors.required"> * required</span>
        <select class="form-control" name="zipcode" #zipcode="ngModel" [(ngModel)]="customer.zipcode" required>
          <option value="">--- Select Zipcode ---</option>
          <option *ngFor="let a of areacode" value="{{a.id}}">{{a.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="input-contact">Address</label>
        <span class="text-danger" *ngIf="address.invalid && submitted && address.errors.required"> * required</span>
        <textarea rows="5" nbInput fullWidth [(ngModel)]="customer.address" #address="ngModel" name="address" class="form-control"
        onkeyup="this.value = this.value.toUpperCase();" placeholder="Address" required maxlength="250"></textarea>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="input-profession">Profession</label>
        <span class="text-danger" *ngIf="profession.invalid && submitted && profession.errors.required"> * required</span>
        <span class="text-danger" *ngIf="phone.touched && profession.errors?.pattern"> * allows (a-z) only</span>
        <input type="text" [pattern]="alphaonly" [(ngModel)]="customer.profession" name="profession" #profession="ngModel" class="form-control"
        onkeyup="this.value = this.value.toUpperCase();" placeholder="Profession" required maxlength="25">
      </div>
      <div class="form-group">
        <label for="input-company">Company</label>
        <span class="text-danger" *ngIf="company.invalid && submitted && company.errors.required"> * required</span>
        <span class="text-danger" *ngIf="company.touched && company.errors?.pattern"> * allows (a-z) only</span>
        <input type="text" [pattern]="alphaonly" [(ngModel)]="customer.company" name="company" #company="ngModel" class="form-control" id="input-company"
        onkeyup="this.value = this.value.toUpperCase();" placeholder="Company" required maxlength="25">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="input-remarks">Remarks</label>
        <span class="text-danger" *ngIf="submitted && remarks.errors?.pattern"> * allows (a-z) only</span>
        <textarea rows="2" [pattern]="alphaonly" [(ngModel)]="customer.remarks" name="remarks" #remarks="ngModel" class="form-control" id="input-remarks"        
        onkeyup="this.value = this.value.toUpperCase();" placeholder="Remarks" maxlength="250"></textarea>
      </div>
    </div>
  </div>

  <!-- <div class="input-group">
                <input type="text" placeholder="Enter your name" class="form-control" formControlName="firstCtrl"
                       [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
              </div> -->
  <!-- <div class="row">
                <div class="col-sm-4"></div>
                <div class="container-btn col-sm-4">
                    <div class="form-group">
                          <button nbButton type="submit" class="btn-demo btn-success">Submit</button>
                      </div>
                </div>
              </div> -->

  <div class="row">
    <div class="col-sm-4"></div>
      <div class="button-container" *ngIf="pageaccesscontrol.isedit">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <div class="button-container">
          <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
      </div>
  </div>

</form>