.filepicker{
    -webkit-appearance: none;
    position:inherit;
    top:1px;
    right:1px;
    width: 150px;
    height: 150px;
    text-indent: 100em;
    background: url('assets/images/profilee.jpg');
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    //float: right;
}

.button-container {
    margin: 1.25rem 0 0 1.25rem;
  }

  .uppercase {
    text-transform: uppercase;
}
.user_Profile_Photo{
    width: 140px;
    height: 140px;
    border: 3px solid #dadfe6;
    border-radius: 3%;
    padding: 5px;
    margin-top: 12px;
}