/deep/ .nb-theme-corporate nb-card-header nav.navigation{ display: none !important; }

.welcome-title
{
    color: white;
font-size: 26px;
border-bottom: 2px solid;
padding-bottom: 15px;
display: table;
margin: 0 auto 30px;
}
