<div class="row">
  <div class="col-md-12">    
    <nb-card>
      <nb-card-header>
        <h4 class="title">{{pageTitle}}
          <span style="float: right">
            <div class="form-group" *ngIf="pageView === 'List'">
              <button nbButton status="primary" class="btn-demo" (click)="addCustomer()" *ngIf="pageaccesscontrol.isadd">
                <i class="fas fa-user-plus"></i> Add New</button>
            </div>
          </span>
        </h4>
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row" *ngIf="pageView === 'List' && roleId === 1">
          <!-- <div class="col-sm-4"> -->
            <label class="label col-sm-3 col-form-label" for="agent">Get Customers on Agent Selection :</label>
            <select class="form-control col-sm-4" [(ngModel)]="agentId" #agent="ngModel" 
            name="agent" (change)="onAgentSelect(agentId,this)">              
              <option value="0">- - Choose Agent - -</option>
              <option *ngFor="let a of agentlist" value="{{a.userId}}">{{a.firstname + ' ' + a.lastname}}</option>
            </select>
            <h4 *ngIf="showsearchlbl" style="color: rebeccapurple;margin-top: 5px;margin-top: 15px;">{{searchresult}}</h4>
            <!-- <span *ngIf="showsearchlbl" style="color: rebeccapurple;margin-top: 5px;margin-top: 15px;">{{searchresult}}</span> -->
          <!-- </div> -->         
        </div>
        <div *ngIf="pageView === 'List'">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact</th>
                <th style="text-align: center">Active/Deactive</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cust of customerlist">
                <td>{{cust.userID}}</td>
                <td>{{cust.firstname}}</td>
                <td>{{cust.lastname}}</td>
                <td>{{cust.gender}}</td>
                <td>{{cust.emailId}}</td>
                <td>{{cust.mobile}}</td>
                <td style="text-align: center">
                  <ui-switch size="small" [disabled]="!pageaccesscontrol.isedit" name="active" [(ngModel)]="cust.isActive"
                  (change)="onSwitchChange(cust)"></ui-switch></td>
                <td>  <!-- color="#73a1ff" -->

                  <!-- <i class="fa fa-trash" aria-hidden="true" title="Delete Role"></i> -->
                  <button class="icon-btn" *ngIf="pageaccesscontrol.isedit" [disabled]="!cust.isActive"
                    style="cursor: pointer;" (click)="cust.isActive ? editCustomer(cust.userID) : ''"
                    title="Edit Customer">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <!-- <button class="icon-btn" *ngIf="pageaccesscontrol.isview" [disabled]="!cust.isActive"
                  style="cursor: pointer;" (click)="cust.isActive ? loanhistory(cust.userID) : ''"
                  title="Edit Customer">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  </button> -->

                  <button class="icon-btn" *ngIf="!pageaccesscontrol.isedit" [disabled]="!cust.isActive"
                    style="cursor: pointer;" (click)="cust.isActive ? editCustomer(cust.userID) : ''"
                    title="View Customer">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button class="icon-btn" *ngIf="pageaccesscontrol.isadd" [disabled]="!cust.isActive"
                    style="cursor: pointer;" (click)="cust.isActive ? addLoan(cust.userID) : ''" title="Add Loan">
                    <!-- <i class="fa fa-plus-circle" title="Add Loan">loan</i> -->
                    <i class="fas fa-plus"></i> Loan
                  </button>
                  <!-- <button class="icon-btn" *ngIf="pageaccesscontrol.isadd" [disabled]="!cust.isActive" style="cursor: pointer;" (click)="cust.isActive ? loanHistory(cust.userID) : ''" title="Loan History">
                        <i class="fa fa-history" title="Loan History"></i>
                    </button> -->                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pageView === 'Add' || pageView === 'Edit'">
          <ngx-customer-add [editUserID]="editUserID" (callParent)="callParent($event)"></ngx-customer-add>
        </div>
        <div *ngIf="pageView === 'AddLoan'">
          <ngx-customer-loan-add [editUserID]="editUserID" (callParent)="callParent($event)"></ngx-customer-loan-add>
        </div>
        <!-- <div *ngIf="pageView === 'AddLoan'">
          <ngx-customer-loan-history [editUserID]="editUserID" (callParent)="callParent($event)"></ngx-customer-loan-history>
        </div> -->
        
        <!-- <div *ngIf="pageView === 'LoanHistory'">
            <ngx-customer-loan-history [editUserID]="editUserID" (callParent)="callParent($event)"></ngx-customer-loan-history>
        </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>