@import '../../../app/@theme/styles/themes.scss';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .btn-success {
    margin-left: 1rem;
  }
}


@import '~@nebular/theme/styles/core/mixins';

:host {
  button {
    @include nb-ltr(margin, 0 0.75rem 2rem 0);
    @include nb-rtl(margin, 0 0 2rem 0.75rem);
  }
}

.error-message {
  color: #ff386a;
  margin-top: .5rem !important;
  text-align: left;
}

