
<div class="row">
   
    <div class="col-md-12">
      <nb-card style="text-align: center;font-size:16px;">
        <nb-card-header>Agent Registration</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="registration()" name="frmregister" #form="ngForm" aria-labelledby="title">
            <div class="form-group row">
              <label for="inputFirstname" class="col-sm-2 col-form-label">FirstName</label>
              <div class="col-sm-2">
                <input type="firstname" name="Firstname" [(ngModel)]="user.Firstname" class="form-control" id="inputfirstname" placeholder="FirstName" required>
              </div>
              <pre>{{frmregister.frmregister.$valid}}</pre>
              <label for="inputMiddlename" class="col-sm-2 col-form-label">MiddleName</label>
              <div class="col-sm-2">
                <input type="middlename" name="MiddleName" [(ngModel)]="user.MiddleName" class="form-control" id="inputmiddlename" placeholder="MiddleName">
              </div>
           
              <label for="inputLastname" class="col-sm-2 col-form-label">LastName</label>
              <div class="col-sm-2">
                <input type="email" name="Lastname" [(ngModel)]="user.Lastname" class="form-control" id="inputlastname" placeholder="LastName">
              </div>
            </div>
           
            <div class="form-group row">
              <label class="col-sm-3">Gender</label>
              <div class="col-sm-9">
                <!-- <div class="form-check">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [(ngModel)]="user.Gender" name="Gender" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Male</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" [(ngModel)]="user.Gender" name="Gender">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Female</span>
                  </label>
                </div> -->

                <nb-radio-group [(ngModel)]="user.Gender" name="Gender">
                    <nb-radio 
                      [value]="'Male'">
                      Male
                    </nb-radio>
                    <nb-radio
                      [value]="'Female'">
                      Female
                    </nb-radio>
                    
                  </nb-radio-group>
              </div>
            </div>
            
            <div class="form-group row">
                <label for="inputMiddlename" class="col-sm-2 col-form-label">BirthDate</label>
                <div class="col-sm-2">
                  <input nbInput placeholder="BirthDate" [nbDatepicker]="picker" [(ngModel)]="user.DOB" name="DOB" >
                  <nb-datepicker #picker></nb-datepicker>
                  </div>
            </div>

            <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="inputemail" placeholder="Email" [(ngModel)]="user.EmailID" name="EmailID">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Contact No</label>
              <div class="col-sm-4">
                <input type="ContactNo" class="form-control" id="inputemail" placeholder="Contact No" [(ngModel)]="user.Mobile" name="Mobile">
              </div>
          </div>
          <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Alternate No</label>
                <div class="col-sm-4">
                  <input type="AlternateNo" class="form-control" id="inputemail" placeholder="Alternate No" [(ngModel)]="user.Phone" name="Phone">
                </div>
          </div>

          <div class="form-group row">
                  <label for="inputEmail" class="col-sm-2 col-form-label">Address</label>
                  <div class="col-sm-4">
                      <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Address" [(ngModel)]="user.Address" name="Address"></textarea>
                  </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2">State</label>
            
              <select class="form-control col-sm-3" (change)="onStateSelect(user.stateId)" [(ngModel)]="user.stateId" name="stateId">
                  <option *ngFor="let stateval of state" value="{{stateval.id}}">
                      {{stateval.name}}
                  </option>
              </select>

              <label class="col-sm-2">City</label>
                <select class="form-control col-sm-3" (change)="onCitySelect(user.cityId)" [(ngModel)]="user.cityId" name="cityId" [disabled]="!(user.stateId!==0)">
                    <option *ngFor="let cityval of city" value="{{cityval.id}}">
                        {{cityval.name}}
                    </option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">PIN Code</label>
                  <select class="form-control col-sm-3" [(ngModel)]="user.zipCode" name="zipCode" [disabled]="!(user.cityId!==0)">
                      <option *ngFor="let areaval of area" value="{{areaval.id}}">
                          {{areaval.name}}
                      </option>
                  </select>
          </div>
          <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Register</button>
          </div>
           
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
