<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <nb-card>
        <nb-card-header>Add Loan Detail</nb-card-header>      
        <nb-card-body>       
            <form class="form-horizontal"  #loanform="ngForm" aria-labelledby="title" novalidate>
                <div class="form-group row">
                  <div class="col-sm-2"></div>
                  <label for="inputagent" class="col-sm-3 col-form-label">Agent</label>
                  <div class="col-sm-5">
                        <select class="form-control" #userid [(ngModel)]="loan.agentid" name="agentid" required> 
                            <option *ngFor="let agentval of agent" value="{{agentval.id}}">
                                  {{agentval.name}}
                            </option>
                        </select>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Loan Type</label>
                  <div class="col-sm-5">
                      <select class="form-control" #loantypeid [(ngModel)]="loan.loantypeid" name="loantypeid" required> 
                          <option *ngFor="let loantype of loantypelist" value="{{loantype.id}}">
                              {{loantype.name}}
                          </option>
                      </select>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="inputLoanAmount" class="col-sm-3 col-form-label">Loan Amount</label>
                  <div class="col-sm-5">
                    <input type="loanamount" class="form-control" #loanamount [(ngModel)]="loan.loanamount" name="loanamount" id="inputLoanAmount" placeholder="₱ 10000">
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Interest</label>
                  <div class="col-sm-5">
                      <select class="form-control" #interest [(ngModel)]="loan.interest" name="interest" required (change)="tenurecalculation(loan)">
                          <option value="">
                              --Select Interest--
                          </option>
                          <option value="15">
                              15%
                          </option>
                          <option value="16">
                              16%
                          </option>
                          <option value="17">
                              17%
                          </option>
                          <option value="18">
                              18%
                          </option>
                          <option value="19">
                              19%
                          </option>
                          <option value="20">
                              20%
                          </option>
                      </select>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Loan Start Date</label>
                  <div class="col-sm-5">
                    <input nbInput placeholder="Loan Start Date" [nbDatepicker]="startdate" #startdate [(ngModel)]="loan.startdate"  (ngModelChange)="changeenddate($event)" name="startdate" required>
                    <nb-datepicker #startdate  [min]="min"></nb-datepicker>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Loan End Date</label>
                  <div class="col-sm-5">
                      <input nbInput placeholder="Loan End Date" [nbDatepicker]="enddate" #enddate [(ngModel)]="loan.enddate" name="enddate" [disabled]="true">
                      <nb-datepicker #enddate></nb-datepicker>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="inputPaymentPeriodicity" class="col-sm-3 col-form-label">Payment Periodicity</label>
                  <div class="col-sm-5" >
                      <nb-radio-group name="paymentperiodicity" name="paymentperiodicity" [(ngModel)]="loan.paymentperiodicity">
                          <nb-radio 
                            [value]="'Weekly'">
                            Weekly
                          </nb-radio>
                          <nb-radio
                            [value]="'Daily'">
                            Daily
                          </nb-radio>
                      </nb-radio-group>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Interest Payment</label>
                  <div class="col-sm-5">
                      <nb-radio-group name="interestpayat" name="interestpayat" [(ngModel)]="loan.interestpayat">
                          <nb-radio 
                            [value]="'UpFront'">
                            Up-Front
                          </nb-radio>
                          <nb-radio
                            [value]="'AtEnd'">
                            At End
                          </nb-radio>
                      </nb-radio-group>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2"></div>
                  <label for="inputPassword2" class="col-sm-3 col-form-label">Payment Amount</label>
                  <div class="col-sm-5">
                    <input type="paymentamount" class="form-control" name="paymentamount" id="paymentamount"  #paymentamount [(ngModel)]="loan.paymentamount" placeholder="Payment Amount" [disabled]="true">
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="totaltnstallments" class="col-sm-3 col-form-label">Total Installments</label>
                  <div class="col-sm-5">
                    <input type="totalinstallments" class="form-control" name="totalinstallments" id="totalinstallments" #totalinstallments [(ngModel)]="loan.totalinstallments" placeholder="Total Installments">
                  </div>
                  <div class="col-sm-2"></div>
                </div>
               
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="repayingstuff" class="col-sm-3 col-form-label">Re-Paying stuff</label>
                  <div class="col-sm-5">
                    <input type="repayingstuff" class="form-control" id="repayingstuff" name="repayingstuff" placeholder="Re-Paying stuff">
                  </div>
                  <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5"></div>
                  <div class="col-sm-5"><input type="file" name="image"  /></div>
                  <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <label for="document" class="col-sm-3 col-form-label">Document</label>
                  <div class="col-sm-5">
                      <select class="form-control" name="interest" required>
                          <option value="0">
                              --Select Document Type--
                          </option>
                      </select>
                  </div>
                <div class="col-sm-2"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5"></div>
                  <div class="col-sm-5"><input type="file" name="image"  /></div>
                  <div class="col-sm-2"></div>
                </div>

              <br>
              <br>
              <!-- <nb-card size="small">
                  <nb-card-header>
                    Select Uploaded Documents
                  </nb-card-header>
                  <nb-card-body>
                  </nb-card-body>
                </nb-card> -->
                <br>
                <br>
                <table datatable class="row-border hover">
                    <thead>
                        <tr>
                          <th>Sr No</th>
                          <th>Installment Date</th>
                          <th>Installment Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ installmenttenure | json }}
                          <!-- *ngFor="let cust of customerlist" -->
                          <tr *ngFor="let tenure of installmenttenure">
                            <td>{{tenure.srno}}</td>
                            <td>{{tenure.installmentdate}}</td>
                            <td>{{tenure.installmentamount}}</td>
                          </tr>
                      </tbody>
                </table>
              <br>
              <br>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                  <div class="offset-sm-5 col-sm-8">
                    <button type="button" class="btn btn-primary" (click)="submitted=true;assignloan(loan,loanform)">Assign</button>
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </form>
        </nb-card-body>        
      </nb-card>
    </div>
  </div>
