<form class="form-horizontal" #loanform="ngForm" aria-labelledby="title" novalidate>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="agentId">Agent</label>
        <select id="agentId" class="form-control" #userid [(ngModel)]="loan.agentid" name="agentid" required>
          <option *ngFor="let agentval of agent" value="{{agentval.id}}">
            {{agentval.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="loanType">Loan Type</label>
        <select id="loanType" class="form-control" #loantypeid [(ngModel)]="loan.loantypeid" name="loantypeid" required>
          <option *ngFor="let loantype of loantypelist" value="{{loantype.id}}">
            {{loantype.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="inputLoanAmount">Loan Amount</label>
        <input type="text" class="form-control" #loanamount [(ngModel)]="loan.loanamount" name="loanamount"
          id="inputLoanAmount" placeholder="₱ 10000">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="interest">Interest</label>
        <select id="interest" class="form-control" #interest [(ngModel)]="loan.interest" name="interest" required>
          <option value="">
            --- Select Interest ---
          </option>
          <option value="15">
            15%
          </option>
          <option value="16">
            16%
          </option>
          <option value="17">
            17%
          </option>
          <option value="18">
            18%
          </option>
          <option value="19">
            19%
          </option>
          <option value="20">
            20%
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="startDate">Loan Start Date</label>
        <input id="startDate" class="form-control" nbInput placeholder="Loan Start Date" [nbDatepicker]="startdate" #startdate
          [(ngModel)]="loan.startdate" (ngModelChange)="changeenddate($event)" name="startdate" required>
        <nb-datepicker #startdate [min]="min"></nb-datepicker>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="endDate">Loan End Date</label>
        <input id="endDate" class="form-control" nbInput placeholder="Loan End Date" [nbDatepicker]="enddate" #enddate
          [(ngModel)]="loan.enddate" name="enddate" [disabled]="true">
        <nb-datepicker #enddate></nb-datepicker>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="periodicity">Payment Periodicity</label>
        <div class="demo-radio">
          <nb-radio-group id="periodicity" name="paymentperiodicity" name="paymentperiodicity" [(ngModel)]="loan.paymentperiodicity">
            <nb-radio style="display: inline-block;" [value]="'Weekly'">Weekly</nb-radio>
            <nb-radio style="display: inline-block;" [value]="'Daily'">Daily</nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="inputPassword2">Interest Payment</label>
        <div class="demo-radio">
          <nb-radio-group name="interestpayat" name="interestpayat" [(ngModel)]="loan.interestpayat">
            <nb-radio style="display: inline-block;" [value]="'UpFront'">Up-Front</nb-radio>
            <nb-radio style="display: inline-block;" [value]="'AtEnd'">At End</nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="totalInstallments">Total Installments</label>
        <input id="totalInstallments" type="text" class="form-control" name="totalinstallments" id="totalinstallments" #totalinstallments
          [(ngModel)]="loan.totalinstallments" placeholder="Total Installments">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="paymentAmount">Payment Amount</label>
        <input id="paymentAmount" type="text" class="form-control" name="paymentamount" id="paymentamount" #paymentamount
          [(ngModel)]="loan.paymentamount" placeholder="Payment Amount" (change)="loantermcalculation()">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="repayingstuff">Re-Paying Stuff</label>
        <input type="text" class="form-control" id="repayingstuff" name="repayingstuff" placeholder="Re-Paying stuff">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="repayingstuffDoc">Re-Paying Stuff Doc</label>
        <input class="form-control" type="file" name="image" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="document">Document</label>
        <select class="form-control" name="interest" required>
          <option value="0">
            --Select Document Type--
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="document">Upload Document</label>
        <input class="form-control" type="file" name="image" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="document">Remarks</label>
        <textarea rows="2" class="form-control" id="remarks" name="remarks" placeholder="Remarks"
          [(ngModel)]="loan.remarks" #remarks></textarea>
      </div>
    </div>
  </div>
  <nb-card size="small">
    <nb-card-header>
      Select Uploaded Documents
    </nb-card-header>
    <nb-card-body>
    </nb-card-body>
  </nb-card>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="button-container">
      <button type="button" class="btn btn-info">Preview Installments</button>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-primary" (click)="submitted=true;assignloan(loan,loanform)">Assign</button>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-warning" (click)="cancelForm()">Cancel</button>
    </div>
  </div>
</form>