<h2 *ngIf="roleId == 1">Welcome to Loan Management System</h2>

<div class="row">
 <!--   <div class="col-lg-6" *ngIf='res'>      *ngIf="res!==undefined" 
        <nb-card>
          <nb-card-header>Bar</nb-card-header>
          <nb-card-body>
            <ngx-chartjs-bar [res]="res"></ngx-chartjs-bar>
          </nb-card-body>
        </nb-card>        
</div> -->

      <div class="col-lg-6" *ngIf='res'>
        <ngx-chartjs [child1]="res"></ngx-chartjs>
      </div>

<div class="col-lg-6" *ngIf="pageView === 'List' && roleId!=1">
  <nb-card>
    <nb-card-header>
      <h4>Upcomming Installments To Be Paid</h4>
    </nb-card-header>
    <!-- <nb-card-header>{{pageTitle}}  
            <span style="text-align: center;"><h4>{{clientname}}</h4></span>
              <button nbButton status="primary" style="float: right;" class="btn-demo" (click)="backtoloanHistory()" > Cancle </button>
            </nb-card-header>   -->
    <nb-card-body>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="display: none">transactionId</th>
            <th>Customer Name</th>
            <th>Loan Id</th>
            <th>Instalment Amount</th>
            <th>Instalment Date</th>
            <th>Is Paid</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instalment of dueinstallmenthstorylist">
            <td style="display: none">{{instalment.transactionid}}</td>
            <td>{{instalment.customername}}</td>
            <td>{{instalment.customerloanid}}</td>
            <td>₱ {{instalment.installmentamount}}</td>
            <td>{{instalment.installmentdate | date:'dd-MM-yyyy'}}</td>
            <td>{{(instalment.ispaid)==false?'UnPaid':'Paid'}}</td>
            <td>
              <button class="icon-btn" style="cursor: pointer;" (click)="receiptpay(instalment.transactionid)"
                title="Installments">
                <i class="fa fa-history" title="Installments"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>

<div class="col-lg-6">
  <div *ngIf="pageView === 'paid'">
    <ngx-customer-loan-paid [editTxnID]="editTxnID" (callParent)="callParent($event);"></ngx-customer-loan-paid>
  </div>
</div>

</div> 


