@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }

  .button-container  {
    display: block;
    margin: 0;
    margin-top: 24px;
    border-radius: 0;
    height: 44px;
    width: 46px;
    text-align: center;
    padding: 0;
    line-height: 44px;
}
 
}

