.error-message {
    color: #ff386a;
    margin-top: .5rem !important;
    text-align: left;
}
.custom_radio{
    min-height: 40px;
    display: flex;
    align-items: center;
}


.uppercase {
    text-transform: uppercase;
}

.user_Profile_Photo{
    width: 140px;
    height: 140px;
    border: 3px solid #dadfe6;
    border-radius: 3%;
    padding: 5px;
    margin-top: 12px;
}