<form class="form-horizontal" #addEditform="ngForm" aria-labelledby="title" novalidate>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <!-- <input type="text" [(ngModel)]="customer.profile" name="profile" id="input-profile"> -->
        <input style="display: none" type="file" name="file" #fileInput accept="image/*"
          (change)="fileProgress(fileInput.files)"> <!-- (change)="onFileChanged($event)" -->
        <a (click)="fileInput.click()">
          <img [src]="imgUrl" style="height: 150px;" nbTooltip="Upload Profile Photo" nbTooltipPlacement="top"
            nbTooltipStatus="warning" />
        </a>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputFirstname" class="col-form-label">FirstName</label>
            <span class="text-danger" *ngIf="Firstname.invalid && submitted && Firstname.errors.required"> * required</span>
            <span class="text-danger" *ngIf="Firstname.touched && Firstname.errors?.pattern"> * allows (a-z) only</span>
            <input type="text" name="Firstname" #Firstname="ngModel" [(ngModel)]="user.firstname" (keyup)="user.firstname = $event.target.value.toUpperCase()"
              class="form-control" placeholder="FirstName" maxlength="15" required [pattern]="alphaonly">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputMiddlename" class="col-form-label">MiddleName</label>
            <span class="text-danger" *ngIf="MiddleName.invalid && submitted && MiddleName.errors.required"> * required</span>
            <span class="text-danger" *ngIf="MiddleName.touched && MiddleName.errors?.pattern"> * allows (a-z) only</span>
            <input type="text" (keyup)="user.middlename = $event.target.value.toUpperCase()" name="MiddleName" #MiddleName="ngModel" [(ngModel)]="user.middlename"
              class="form-control" id="inputmiddlename" placeholder="MiddleName" maxlength="15" required [pattern]="alphaonly">            
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputLastname" class="col-form-label">LastName</label>
            <span class="text-danger" *ngIf="Lastname.invalid && submitted && Lastname.errors.required"> * required</span>
            <span class="text-danger" *ngIf="Lastname.touched && Lastname.errors?.pattern"> * allows (a-z) only</span>
            <input type="text" name="Lastname" (keyup)="user.lastname = $event.target.value.toUpperCase()" #Lastname="ngModel" [(ngModel)]="user.lastname" class="form-control"
              id="inputlastname" maxlength="15" placeholder="LastName" required [pattern]="alphaonly">            
          </div>
        </div>

        <div class="col-sm-4">
          <label class="col-form-label">Gender</label>
          <span class="text-danger" *ngIf="gender.invalid && submitted && gender.errors.required"> * required</span>
          <div class="custom_radio">
            <nb-radio-group [(ngModel)]="user.gender" #gender="ngModel" name="Gender" required>
              <nb-radio style="display: inline-block;" [value]="'MALE'">Male</nb-radio>
              <nb-radio style="display: inline-block;" [value]="'FEMALE'">Female</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputBirthDate" class="col-form-label">BirthDate</label>
            <span class="text-danger" *ngIf="DOB.invalid && submitted && DOB.errors.required"> * required</span>            
            <input class="form-control" nbInput placeholder="BirthDate" #DOB="ngModel" [nbDatepicker]="picker" [(ngModel)]="user.dob"
              name="DOB" required readonly>
            <nb-datepicker #picker [max]="max"></nb-datepicker>            
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputEmail" class="col-form-label">Email</label>
            <span class="text-danger" *ngIf="EmailID.invalid && submitted && EmailID.errors.required"> * required</span>
            <span class="text-danger" *ngIf="(EmailID.invalid && EmailID.errors.email && (EmailID.touched || submitted))">
              Email not valid
            </span>
            <span class="text-danger" *ngIf="EmailID.errors?.uniqueEmail"> * this email is already in use</span>
            <input type="email" class="form-control" (keyup)="user.emailId = $event.target.value.toUpperCase()" #EmailID="ngModel" id="inputemail" placeholder="Email"
              [(ngModel)]="user.emailId" name="EmailID" maxlength="50" required email [uniqueEmail]='user.userId'>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContact" class="col-form-label">Contact No.</label>
            <span class="text-danger" *ngIf="Mobile.invalid && submitted && Mobile.errors.required"> * required</span>
            <span class="text-danger" *ngIf="Mobile.errors?.pattern && Mobile.touched"> * allow (0-9) only</span>
            <input type="ContactNo" class="form-control" id="inputemail" placeholder="Contact No" #Mobile="ngModel"
              [(ngModel)]="user.mobile" name="Mobile" pattern="[0-9]*" maxlength="15" required>            
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAlternate" class="col-form-label">Alternate No.</label>
            <span class="text-danger" *ngIf="Phone.errors?.pattern && Phone.touched"> * allow (0-9) only</span>
            <input type="AlternateNo" class="form-control" id="inputemail" placeholder="Alternate No" #Phone="ngModel"
              [(ngModel)]="user.phone" name="Phone" maxlength="15" pattern="[0-9]*">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">State</label>
            <span class="text-danger" *ngIf="stateId.invalid && submitted"> * required</span>
            <select class="form-control" (change)="onStateSelect(user.stateId)" #stateId="ngModel"
              [(ngModel)]="user.stateId" name="stateId" required>
              <option value="">--- Select State ---</option>
              <option *ngFor="let stateval of state" value="{{stateval.id}}">{{stateval.name}}</option>
            </select>           
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">City</label>
            <span class="text-danger" *ngIf="cityId.invalid && submitted && cityId.errors.required"> * required</span>
            <select class="form-control" (change)="onCitySelect(user.cityId)" #cityId="ngModel"
              [(ngModel)]="user.cityId" name="cityId" [disabled]="!(user.stateId!==0)" required>
              <option value="">--- Select City ---</option>
              <option *ngFor="let cityval of city" value="{{cityval.id}}">{{cityval.name}}</option>
            </select>            
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="col-form-label">Zipcode</label>
            <span class="text-danger" *ngIf="zipCode.invalid && submitted && zipCode.errors.required"> * required</span>
            <select class="form-control" [(ngModel)]="user.zipcode" name="zipCode" #zipCode="ngModel"
              [disabled]="!(user.cityId!==0)" required>
              <option value="">--- Select Zipcode ---</option>
              <option *ngFor="let areaval of area" value="{{areaval.id}}">{{areaval.name}}</option>
            </select>            
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputAddress" class="col-form-label">Address</label>
        <span class="text-danger" *ngIf="Address.invalid && submitted && Address.errors.required"> * required</span>
        <textarea rows="5" (keyup)="user.address = $event.target.value.toUpperCase()" nbInput fullWidth placeholder="Address" #Address="ngModel" [(ngModel)]="user.address"
          name="Address" maxlength="250" required class="form-control"></textarea>        
      </div>
    </div>
  </div>

  <div class="row">
    <div class=" col-sm-12 text-center" *ngIf="(user.userId>0)">
      <button type="button" class="btn btn-warning" (click)="submitted=true;registration(addEditform)">Update</button>
      <button type="button" style="margin:10px;" class="btn btn-primary" (click)="cancle()">Cancel</button>
    </div>
    <div class=" col-sm-12 text-center" *ngIf="(user.userId==0)">
      <button type="button" class="btn btn-warning" (click)="submitted=true;registration(addEditform)">Register</button>
      <button type="button" style="margin:10px;" class="btn btn-primary" (click)="cancle()">Cancel</button>
    </div>
  </div>
</form>