.error-message {
    color: #ff386a;
    margin-top: .5rem !important;
    text-align: left;
}
.custom_radio{
    min-height: 40px;
    display: flex;
    align-items: center;
}


.uppercase {
    text-transform: uppercase;
}