<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Fund History</nb-card-header>
      <nb-card-body>
          

        <div *ngIf="!IsAgent" class="col-md-12" style="float: right;">
         
          <button nbButton status="primary" class="btn-demo" style="float: right;margin: 10px"
            (click)="backtoagentlist()">
            Cancle </button>

            <label for="agent">Agent</label>
                <select class="form-control col-md-4" [(ngModel)]="agentId" #agent="ngModel" 
                name="agent" (change)="onAgentSelect(agentId)">              
                  <option value="0">- - Choose Agent - -</option>
                  <option *ngFor="let a of agentlist" value="{{a.userId}}">{{a.firstname + ' ' + a.lastname}}</option>
            </select>
            <br>
        </div>
        <!-- <h4  *ngIf="IsAgent" class="text-danger">{{agentName}}</h4> -->
        <br/>
        
        
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Fund Amount</th>
              <th>Remark</th>
              <th>Deposit Date</th>
              <th>Deposit by</th>
              <th>Is Receive</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fund of fundHistorylist">
              <td><span>₽</span>{{fund.fundamount}}</td>
              <td>{{fund.remark}}</td>
              <td> {{fund.createddate | date:'dd-MM-yyyy hh:mm'}}</td>
              <td>{{fund.depositby}}</td>
              <td>
                <ui-switch size="small" name="activeTog" #activeTog="ngModel" title="Status"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="fund.isreceive" (change)="isreceive(fund)"
                  [disabled]="(fund.isreceive) || pageaccesscontrol.isedit"></ui-switch>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>